<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        * {
            margin: 0;
            padding: 0;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/about.css">
    <link rel="stylesheet" href="../static/main.css">
    {% block style %}{% endblock %}
    <title>{% block title %}Home{% endblock %}</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
        {% if user.is_authenticated %}
            <a class="btn btn-outline-success btn-sm nav-btn my-1" href="{{ url_for('views.home') }}", role="button">Home</a>
        {% endif %}
        <a class="btn btn-outline-success btn-sm nav-btn my-1" href="{{ url_for('views.about') }}", role="button">About us</a>
        <a class="btn btn-outline-success btn-sm nav-btn my-1" href="{{ url_for('views.blog') }}", role="button">Blog</a>
        {% if user.is_authenticated %}
            <a class="btn btn-outline-success btn-sm nav-btn my-1" href="{{ url_for('auth.logout') }}", role="button">Log out</a>
            {% if user.user_type == 'restaurant' %}
                <a class="btn btn-outline-success btn-sm nav-btn my-1" href="{{ url_for('views.insight') }}", role="button">Insights</a>
            {% endif %}
        {% else %}
            <a class="btn btn-outline-success btn-sm nav-btn my-1" href="{{ url_for('auth.login') }}", role="button">Log in</a>
            <a class="btn btn-outline-success btn-sm nav-btn my-1" href="{{ url_for('auth.signup') }}",role="button">Sign Up</a>
        {% endif %}
      </div>
      <div id="nav-logo">
        <img src="../static/logo-icon.png" alt="logo">
      </div>
    </div>
  </nav>

  <div class="alert-spacer">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %} {% for category, message in messages %} {% if category == 'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
</div>

  {% block content %} {% endblock %}

  <footer class="text-center text-lg-start bg-light text-muted">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>

        <div>
            <a href="" class="me-4 text-reset">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fa fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fa fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fa fa-github"></i>
            </a>
        </div>
    </section>

    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <image src="../static/logo-icon.png" alt="logo">
                            </i>Yummy Saviour
                    </h6>
                    <p>
                        Our logo indicates our service: four arrows represent Restaurant->Yummy Saviour-> Non-profit organizations->End customers.
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Services
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Service1</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Service2</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Service3</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Service4</a>
                    </p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <p>
                        <a href="/sigup" class="text-reset">Sign Up</a>
                    </p>
                    <p>
                        <a href="/login" class="text-reset">Log in</a>
                    </p>
                    <p>
                        <a href="/food-waste" class="text-reset">Food waste</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Help</a>
                    </p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contact
                    </h6>
                    <p><i class="fa fa-phone"></i> + 46 234 567 88</p>
                    <p><i class="fa fa-print"></i> + 46 234 567 88</p>
                </div>
            </div>
        </div>
      </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="http://127.0.0.1:5000/">YummySaviour.com</a>
    </div>
  </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>

    <script src="{{ url_for('static', filename='npo.js') }}"></script>
  </body>
</html>