{% extends "base.html" %}
{% block title %}SDG Goals{% endblock %}
{% block content %}
    <div class="container-fluid p-0 m-0" id="header">
        <div class="container-fluid p-0 m-0">
            <h1 class="font-weight-bold text-white pl-4" style="font-size: 13vmin;line-height: 1">
                One third of all food produced globally goes to waste!
            </h1>
        </div>
    </div>
    <div class="container py-4">
        <div class="row">
            <div class="col-12 py-4">
                <h2 class="font-weight-bold"> SDG and sustainable consumption and production</h2>
                <h3 class="py-2">Sustainable Development Goals</h3>
                <p>The United Nations announced the “17 Sustainable Development Goals” (SDGs) in 2015, provides a
                    blueprint with the ambition to tackle the world’s problems for our planet, people, and prosperity.
                    The SDG’s calls for action by all countries and stakeholders in partnership to implement the plan
                    . </p>
                <p> The implementation of the SDG plan is the only way forward to approach the global sustainability
                    challenge of assuring human well‐being, economic prosperity, and environmental protection. For this,
                    all SDGs need to act as a system of interactive mechanism that together move the global system into
                    a safe and just operating space. it’s the collective responsibility of the SDG bodies to see and use
                    the SDG goals as a tool to combat world problems rather than merely seeing it as a structure.</p>
            </div>

            <div class="col-12">
                <img class="w-100" src="../static/images/hero-2.png" alt="Hero 2">
            </div>

            <div class="col-12 py-4">
                <h3 class="py-2">Goal 12: Sustainable consumption and production</h3>
                <p>SDG12, acknowledges the fact that continuous development and economic growth are determined,
                    depending on how we produce and consume goods. With the continuous projection of food insecurities
                    and food waste across the globe, it’s obvious that the change needed to reverse this trend must be
                    set in motion right away.</p>
                <p>By 2030, SDG goal 12 aims at reducing waste generation substantially through prevention, reduction,
                    recycling, and reuse. Standards developed by the international organization (ISO) help businesses
                    integrate environmental aspects into the design and development of products and services and adopt
                    more sustainable practices.
                <p>
            </div>


            <div class="col-12">
                <img class="w-100" src="../static/images/hero-3.png" alt="Hero 2">
            </div>

            <div class="col-12 py-2">
                <div class="row">
                    <img class="col-lg-5 col-12" src="../static/images/world-food.png" alt="Hero 2">
                    <div class="p-3 col-lg-6 col-12">
                        <h2 class="py-2 font-weight-bold">Food waste facts</h2>
                        <p>The table shows that households generated the most amount of food wastage,
                            followed by
                            grocery,
                            commercial kitchen, and restaurants. </p>
                        <p>
                            As a matter of fact, the waste generated by households is a
                            personal behavior, it requires us to take individual responsibility. However, food waste by
                            restaurants and commercial kitchen can be reduced through collective efforts.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 style="font-size: 10vmin">Developing countries lose 40% of their Food.
                    That’s Insane.</h2>
                <h3 class="h1 font-weight-bold display-4 text-danger"> How?</h3>
            </div>
        </div>
    </div>
    <div class="container h3 font-weigh-bold">
        <div class="row">
            <div class="col-lg-6 col-12">
                <ul>
                    <li>Bad Roads</li>
                    <li>Flooding or drought</li>
                    <li>Pest</li>
                </ul>
            </div>
            <div class="col-lg-6 col-12">
                <ul>
                    <li>Poor Transportation</li>
                    <li>Inadequate storge</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 py-2">
                <div class="row">
                    <img class="col-lg-6 col-12" src="../static/images/who-wast.png" alt="Hero 2">
                    <div class="p-3 col-lg-6 col-12">
                        <h2 class="py-2 font-weight-bold">Food waste facts</h2>
                        <p>An estimate of 1.3Billion Tons of Food wasted Each Year worldwide. This is Enough
                            to feed 868 million who go to bed hungry every night, the population of Germany and Puerto
                            Rico put together. Images signifying horror or pity.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-12 p-5">
            <p class="h2">100Million Tons of Food are lost in sub-Sahara Africa, due to fungus mold, Inadequate storage,
                Drought every year.</p>
        </div>
    </div>

    <div class="container text-center">
        <img class="w-100" src="../static/images/395d5fa88e84235f080f2ca30194e31b3a188339-640x214.png" alt="">
    </div>


    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="py-4"> No Land space for our unborn generation!</h2>
            </div>
            <p class="p-4 h5">
                As Food waste decomposes in landfills, it releases methane which is a potent greenhouse gas
                with 26 times the heat-trapping capacity of carbon dioxide-.
            </p>


            <h3 class="font-weight-bold h2"> Some solutions to the problem….</h3>

            <div class="col-12 p-4">
                <h4>A Farm and Family Cooperation- Yes you read right. <br> It would be great to collect those unwanted
                    produce from growers and packers who are responsible for sorting farm produce
                    and channeling them to families in need.</h4>
            </div>

            <div class="col-12 p-4">
                <h4> A new cook Show- Shows consumers how to produce tasty and delicious meal with irregularly shaped or
                    imperfect fruits, veggies and crops.</h4>
            </div>


            <div class="col-12 p-4">
                <h4> A good Storage space- A perfectly thought-out storage place would be ideal to keep our farm produce
                    fresh e.g. using a metal container which protects against infiltration
                    of insects and rats and other pest.</h4>
            </div>

        </div>
    </div>


    <div class="container">

        <h1 class="display-3 text-primary font-weight-bold">How can you help?</h1>
        <ul class="h1">
            <li>Eat ugly food</li>
            <li> Recycle your food properly</li>
            <li>Turn old food ingredients to Juice instead</li>
            <li>Freezing food items</li>
            <li> Food Planning.</li>
        </ul>
        <div class="col-12 text-center py-5">
            <h2 class="display-4 font-weight-small text-danger">YUMMY FOOD SAVIOURS</h2>
        </div>
    </div>
{% endblock %}

{% block style %}
    <style>
        #header {
            background: url('../static/images/freshfood.jpeg');
            object-fit: cover;

        }

        #header > div {
            background-color: rgba(0, 0, 0, 0.5);
            height: 60vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        li {
            padding: 10px 0;
        }
    </style>
{% endblock %}