{% extends "base.html" %} {% block title %}Login{% endblock %}
{% block content %}

<link rel="stylesheet" href="../static/backgroundcolor.css">



<div class="container-fluid">
  <h1>Welcome to Yummy Saviour, {{ businessname }}!</h1>
  <br>
  <h3>Available Food</h3>
  <br>
    <div class="row">
      <div class="col">
    <strong>Search For : {{ tag}}</strong>
      </div>
      <div class="col-2">
        <form action="{{ url_for('views.npo_search') }}" method="post">
      </div>
      <div class="col-2">
        <input type="text" class="form-control" name="tag" id="tag"  placeholder="Enter keyword"/>
      </div>
      <div class="col-2" >
        <input type="submit" value="Search" class="form-control btn btn-primary " name="">
      </div>
      <div class="col-1">
        <button type="submit" formaction="{{url_for('views.reset_search')}}" class="btn btn-secondary">Reset</button>
      </div>
      </form>
    </div>
     <br><br>
  <table class="table table-striped" id='food-list'>
    <thead>
      <tr>
        <th scope='col'>#</th>
        <th scope='col'>Food name</th>
        <th scope='col'>Description</th>
        <th scope='col'>Company</th>
        <th scope='col'>Location</th>
        <th scope='col'>Quantity</th>
      </tr>
    </thead>
    <tbody>
      {% if filtered %}
        {% for food in filtered %}
          {% if food.quantity > 0 %}
          <tr id={{food.id}}>
            <th scope='row'>{{ food.id }}</th>
            <td>{{ food.food_name }}</td>
            <td>{{ food.description }}</td>
            {% for user in users %}
              {% if user.id == food.users_id %}
                <td>{{ user.businessname }}</td>
                <td>{{ user.location }}</td>
              {% endif %}
            {% endfor %}
            <td>{{ food.quantity }}</td>
            <td><input type="text" placeholder="Order quantity" min="1"></td>
            <td><button class="btn btn-sm btn-primary addItem">Add to order</button></td>
          </tr>
          {% endif %}
        {% endfor %}
      {% else %}
        {% for food in food %}
          {% if food.quantity > 0 %}
            <tr id={{food.id}}>
              <th scope='row'>{{ food.id }}</th>
              <td>{{ food.food_name }}</td>
              <td>{{ food.description }}</td>
              {% for user in users %}
                {% if user.id == food.users_id %}
                <td>{{ user.businessname }}</td>
                <td>{{ user.location }}</td>
                {% endif %}
              {% endfor %}
              <td>{{ food.quantity }}</td>
              <td><input type="text" placeholder="Order quantity"></td>
              <td><button class="btn btn-sm btn-primary addItem">Add to order</button></td>
            </tr>
          {% endif %}
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
  <br>
  <h3>Current Order</h3>
  <br>
  <table id="order-table" class="table table-striped">
    <thead>
      <tr>
        <th scope='col'>#</th>
        <th scope='col'>Food name</th>
        <th scope='col'>Description</th>
        <th scope='col'>Company</th>
        <th scope='col'>Location</th>
        <th scope='col'>Quantity</th>
      </tr>
    </thead>
    <tbody id="order-content">
    </tbody>
  </table>
  <div class="btn-container">
    <button class="btn btn-sm btn-success" id="confirm-btn">Confirm order</button>
  </div>
  <br>
  <h3>Order History</h3>
  <br>
  <div id="order-history">
    {% for order in orders %}
      <ul class="list-group">
        <li class="list-group-item">
          <span><strong>Date: </strong>{{ order.date.date() }}</span>
          <span class="list-products">
            <strong>Products: </strong>
            {% for ordered in order.details %}
              {% for food in food %}
                {% if ordered.food_id == food.id %}
                <span>
                  {{ food.food_name }}
                  {{ ordered.quantity }}Kg
                </span>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </span>
        </li>
      </ul>
    {% endfor %}
  </div>
</div>
{% endblock %}
